@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 3.1% 12%;

      --card: 0 0% 100%;
      --card-foreground: 210 11.1% 3.53%;

      --popover: 0 0% 100%;
      --popover-foreground: 210 11.1% 3.53%;

      --primary: 0 0% 9%;
      --primary-foreground: 0 0% 98%;

      --secondary: 0 0% 96.1%;
      --secondary-foreground: 0 0% 9%;

      --muted: 0 0% 96.1%;
      --muted-foreground: 240 2% 47%;

      --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 89.8%;
      --input: 0 0% 89.8%;
      --ring: 0 0% 3.9%;

      --radius: 0.5rem;
    }

  .responsive-image {
    display: inline;
    width: 80px;
    height: 100px;
    margin: 0 5px;
    border-radius: 9px
  }
  .responsive-image2 {
    display: inline;
    width: 220px;
    height: 90px;
    margin: 0 5px;
    border-radius: 9px
  }

  @media (max-width: 767px) {
    .responsive-image {
      display: inline;
      width: 40px;
      height: 50px;
      margin: 0 5px;
      border-radius: 9px    }
  }

  @media (max-width: 767px) {
    .responsive-image2 {
      display: inline;
      width: 100px;
      height: 50px;
      margin: 0 5px;
      border-radius: 9px    }
  }

    .dark {
      --background: 210 11.1% 3.53%;
      --foreground: 0 0% 98%;

      --card: 210 11.1% 3.53%;
      --card-foreground: 0 0% 98%;

      --popover: 210 11.1% 3.53%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;

      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;

      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 83.1%;
      --color-1: 0 100% 63%;
      --color-2: 270 100% 63%;
      --color-3: 210 100% 63%;
      --color-4: 195 100% 63%;
      --color-5: 90 100% 63%;
    }
    .custom-swiper .swiper-wrapper {
      overflow-y: visible !important;
      overflow-x: hidden !important;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  h3 code {
    @apply !text-lg md:!text-xl;
  }
  
  pre {
    @apply !px-0 rounded-lg overflow-x-auto py-4
  }
   
  pre [data-line] {
    @apply px-4
  }

  code {
    @apply text-sm md:text-base !leading-loose;
  }
  
  pre > code {
    counter-reset: line;
  }
  
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
   
  @media (prefers-color-scheme: dark) {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-dark);
      background-color: var(--shiki-dark-bg);
    }
  }
  
  code[data-line-numbers] {
    counter-reset: line;
  }
  
  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply inline-block w-4 mr-4 text-right text-gray-500;
  }
 
  code {
    counter-reset: line;
  }
 
  code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
 
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}
 
code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}
 
code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

/* Loader CSS */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

